{
  "swagger":"2.0",
  "info":{
    "title":"admissionsSeminaryType",
    "description":"Seminary Types for CES School Admission Application",
    "version":"v1",
    "license":{
      "name":"Apache 2.0",
      "url":"http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host":"api.byu.edu",
  "schemes":[
    "https"
  ],
  "basePath":"/domains/admissions/seminary_types",
  "produces":[
    "application/json"
  ],
  "paths":{
    "/":{
      "x-controller":"seminary_types",
      "get":{
        "summary":"Get all Seminary Types",
        "description":"Retrieve a collection of seminary_types",
        "operationId":"getSeminaryTypes",
        "parameters":[
          {
            "name":"seminary_type_query",
            "in":"query",
            "description":"seminary_type query parameter.",
            "required":false,
            "type":"string"
          },
          {
            "name":"page_start",
            "in":"query",
            "description":"Skip into a large collection to this item",
            "required":false,
            "type":"string"
          },
          {
            "name":"page_size",
            "in":"query",
            "description":"Return this many items of a large collection",
            "required":false,
            "type":"string"
          }
        ],
        "tags":[
          "admissions",
          "Codes"
        ],
        "responses":{
          "200":{
            "description":"A collection of seminary_types",
            "schema":{
              "description":"The seminary_type collection",
              "type":"object",
              "required":[
                "values"
              ],
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact the seminary_type collection",
                  "type":"object",
                  "properties":{
                    "seminary_types__info":{
                      "type":"object",
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=51&page_size=50"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__prev":{
                      "type":"object",
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__prev"
                          ],
                          "default":"seminary_types__prev"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=:page_start&page_size=:page_size"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__next":{
                      "type":"object",
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__next"
                          ],
                          "default":"seminary_types__next"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=:page_start1&page_size=:page_size"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__create":{
                      "type":"object",
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__create"
                          ],
                          "default":"seminary_types__create"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "POST"
                          ],
                          "default":"POST"
                        }
                      }
                    }
                  }
                },
                "metadata":{
                  "allOf":[
                    {
                      "type":"object",
                      "properties":{
                        "collection_size":{
                          "type":"integer",
                          "minimum":0
                        },
                        "page_start":{
                          "type":"integer",
                          "minimum":0
                        },
                        "page_end":{
                          "type":"integer",
                          "minimum":0
                        },
                        "page_size":{
                          "type":"integer",
                          "minimum":1
                        },
                        "default_page_size":{
                          "type":"integer",
                          "minimum":1
                        },
                        "max_page_size":{
                          "type":"integer"
                        }
                      }
                    },
                    {
                      "type":"object",
                      "required":[
                        "validation_response"
                      ],
                      "properties":{
                        "validation_response":{
                          "type":"object",
                          "required":[
                            "code",
                            "message"
                          ],
                          "properties":{
                            "code":{
                              "type":"integer"
                            },
                            "message":{
                              "type":"string"
                            }
                          }
                        },
                        "validation_information":{
                          "type":"array",
                          "items":{
                            "type":"string"
                          }
                        },
                        "cache":{
                          "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                          "type":"object",
                          "properties":{
                            "date_time":{
                              "type":"string",
                              "format":"date-time"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "values":{
                  "type":"array",
                  "items":{
                    "description":"A seminary_type",
                    "type":"object",
                    "properties":{
                      "links":{
                        "description":"Hypermedia Links that impact this seminary_type",
                        "type":"object",
                        "properties":{
                          "seminary_types__info":{
                            "description":"Hypermedia link to retrieve this seminary_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "self"
                                ],
                                "default":"self"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "GET"
                                ],
                                "default":"GET"
                              }
                            }
                          },
                          "seminary_types__modify":{
                            "description":"Hypermedia link to modify this seminary_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "seminary_types__modify"
                                ],
                                "default":"seminary_types__modify"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "PUT"
                                ],
                                "default":"PUT"
                              }
                            }
                          },
                          "seminary_types__remove":{
                            "description":"Hypermedia link to remove this seminary_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "seminary_types__remove"
                                ],
                                "default":"seminary_types__remove"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "DELETE"
                                ],
                                "default":"DELETE"
                              }
                            }
                          }
                        }
                      },
                      "metadata":{
                        "type":"object",
                        "required":[
                          "validation_response"
                        ],
                        "properties":{
                          "validation_response":{
                            "type":"object",
                            "required":[
                              "code",
                              "message"
                            ],
                            "properties":{
                              "code":{
                                "type":"integer"
                              },
                              "message":{
                                "type":"string"
                              }
                            }
                          },
                          "validation_information":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            }
                          },
                          "cache":{
                            "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                            "type":"object",
                            "properties":{
                              "date_time":{
                                "type":"string",
                                "format":"date-time"
                              }
                            }
                          }
                        }
                      },
                      "seminary_type":{
                        "description":"seminary_type",
                        "type":"string",
                        "example":"EM"
                      },
                      "description":{
                        "description":"seminary_type Short Description",
                        "type":"string",
                        "example":"EM"
                      },
                      "long_description":{
                        "description":"seminary_type Long Description",
                        "type":"string",
                        "example":"EM"
                      },
                      "active_status":{
                        "description":"Is the code currently active or only used for archive purposes?",
                        "type":"string",
                        "example":"Y"
                      },
                      "updated_by_id":{
                        "description":"Who last updated the seminary_type's data?",
                        "type":"string",
                        "example":"111111111"
                      },
                      "date_time_updated":{
                        "description":"When was the seminary_type's data last updated?",
                        "type":"string",
                        "example":"2014-05-11T13:45:53.200Z"
                      }
                    },
                    "example":{
                      "links":{
                        "seminary_types__info":{
                          "rel":"self",
                          "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                          "method":"GET"
                        },
                        "seminary_types__modify":{
                          "rel":"seminary_types__modify",
                          "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                          "method":"PUT"
                        },
                        "seminary_types__remove":{
                          "rel":"seminary_types__remove",
                          "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                          "method":"DELETE"
                        }
                      },
                      "metadata":{
                        "cache":{
                          "date_time":"2014-05-11T13:45:53.200Z"
                        },
                        "validation_response":{
                          "code":200,
                          "message":"Successful"
                        }
                      },
                      "seminary_type":"EM",
                      "description":"EM",
                      "long_description":"EM",
                      "active_status":"Y",
                      "updated_by_id":"111111111",
                      "date_time_updated":"2014-05-11T13:45:53.200Z"
                    }
                  }
                }
              },
              "example":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=51&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__prev":{
                    "rel":"seminary_types__prev",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=1&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__next":{
                    "rel":"seminary_types__next",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=101&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__create":{
                    "rel":"seminary_types__create",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1",
                    "method":"POST"
                  }
                },
                "metadata":{
                  "collection_size":1,
                  "page_start":1,
                  "page_end":1,
                  "page_size":1,
                  "default_page_size":50,
                  "max_page_size":1000,
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Retrieve Successful"
                  }
                },
                "values":[
                  {
                    "links":{
                      "seminary_types__info":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"GET"
                      },
                      "seminary_types__modify":{
                        "rel":"seminary_types__modify",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"PUT"
                      },
                      "seminary_types__remove":{
                        "rel":"seminary_types__remove",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"DELETE"
                      }
                    },
                    "metadata":{
                      "cache":{
                        "date_time":"2014-05-11T13:45:53.200Z"
                      },
                      "validation_response":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "seminary_type":"EM",
                    "description":"EM",
                    "long_description":"EM",
                    "active_status":"Y",
                    "updated_by_id":"111111111",
                    "date_time_updated":"2014-05-11T13:45:53.200Z"
                  }
                ]
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=51&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__prev":{
                    "rel":"seminary_types__prev",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=1&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__next":{
                    "rel":"seminary_types__next",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1?page_start=101&page_size=50",
                    "method":"GET"
                  },
                  "seminary_types__create":{
                    "rel":"seminary_types__create",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1",
                    "method":"POST"
                  }
                },
                "metadata":{
                  "collection_size":1,
                  "page_start":1,
                  "page_end":1,
                  "page_size":1,
                  "default_page_size":50,
                  "max_page_size":1000,
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Retrieve Successful"
                  }
                },
                "values":[
                  {
                    "links":{
                      "seminary_types__info":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"GET"
                      },
                      "seminary_types__modify":{
                        "rel":"seminary_types__modify",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"PUT"
                      },
                      "seminary_types__remove":{
                        "rel":"seminary_types__remove",
                        "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                        "method":"DELETE"
                      }
                    },
                    "metadata":{
                      "cache":{
                        "date_time":"2014-05-11T13:45:53.200Z"
                      },
                      "validation_response":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "seminary_type":"EM",
                    "description":"EM",
                    "long_description":"EM",
                    "active_status":"Y",
                    "updated_by_id":"111111111",
                    "date_time_updated":"2014-05-11T13:45:53.200Z"
                  }
                ]
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post":{
        "summary":"admissions Codes",
        "description":"Creates a seminary_type",
        "operationId":"createSeminaryType",
        "parameters":[
          {
            "name":"seminary_type",
            "in":"body",
            "description":"New seminary_type values",
            "required":true,
            "schema":{
              "description":"Elements required to add a new seminary_type",
              "type":"object",
              "properties":{
                "seminary_type":{
                  "description":"seminary_type",
                  "type":"string",
                  "example":"EM"
                },
                "description":{
                  "description":"seminary_type Short Description",
                  "type":"string",
                  "example":"EM"
                },
                "long_description":{
                  "description":"seminary_type Long Description",
                  "type":"string",
                  "example":"EM"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "example":"Y"
                }
              },
              "example":{
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y"
              }
            }
          }
        ],
        "tags":[
          "admissions",
          "Codes"
        ],
        "responses":{
          "201":{
            "description":"seminary_type successfully created",
            "schema":{
              "description":"A seminary_type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this seminary_type",
                  "type":"object",
                  "properties":{
                    "seminary_types__info":{
                      "description":"Hypermedia link to retrieve this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__modify":{
                      "description":"Hypermedia link to modify this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__modify"
                          ],
                          "default":"seminary_types__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      }
                    },
                    "seminary_types__remove":{
                      "description":"Hypermedia link to remove this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__remove"
                          ],
                          "default":"seminary_types__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      }
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                },
                "seminary_type":{
                  "description":"seminary_type",
                  "type":"string",
                  "example":"EM"
                },
                "description":{
                  "description":"seminary_type Short Description",
                  "type":"string",
                  "example":"EM"
                },
                "long_description":{
                  "description":"seminary_type Long Description",
                  "type":"string",
                  "example":"EM"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the seminary_type's data?",
                  "type":"string",
                  "example":"111111111"
                },
                "date_time_updated":{
                  "description":"When was the seminary_type's data last updated?",
                  "type":"string",
                  "example":"2014-05-11T13:45:53.200Z"
                }
              },
              "example":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{seminary_type}":{
      "x-controller":"seminary_type",
      "get":{
        "summary":"admissions Codes",
        "description":"Retrieve a specific seminary_type",
        "operationId":"getSeminaryType",
        "parameters":[
          {
            "name":"seminary_type",
            "in":"path",
            "description":"seminary_type path parameter",
            "required":true,
            "type":"string"
          }
        ],
        "tags":[
          "admissions",
          "Codes"
        ],
        "responses":{
          "200":{
            "description":"A specific seminary_type",
            "schema":{
              "description":"A seminary_type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this seminary_type",
                  "type":"object",
                  "properties":{
                    "seminary_types__info":{
                      "description":"Hypermedia link to retrieve this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__modify":{
                      "description":"Hypermedia link to modify this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__modify"
                          ],
                          "default":"seminary_types__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      }
                    },
                    "seminary_types__remove":{
                      "description":"Hypermedia link to remove this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__remove"
                          ],
                          "default":"seminary_types__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      }
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                },
                "seminary_type":{
                  "description":"seminary_type",
                  "type":"string",
                  "example":"EM"
                },
                "description":{
                  "description":"seminary_type Short Description",
                  "type":"string",
                  "example":"EM"
                },
                "long_description":{
                  "description":"seminary_type Long Description",
                  "type":"string",
                  "example":"EM"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the seminary_type's data?",
                  "type":"string",
                  "example":"111111111"
                },
                "date_time_updated":{
                  "description":"When was the seminary_type's data last updated?",
                  "type":"string",
                  "example":"2014-05-11T13:45:53.200Z"
                }
              },
              "example":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404":{
            "description":"There is no matching seminary_type",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put":{
        "summary":"admissions Codes",
        "description":"Modify a seminary_type",
        "operationId":"modifySeminaryType",
        "parameters":[
          {
            "name":"seminary_type_modify",
            "in":"body",
            "description":"Values required to modify a seminary_type",
            "required":true,
            "schema":{
              "description":"Elements required to add a new seminary_type",
              "type":"object",
              "properties":{
                "seminary_type":{
                  "description":"seminary_type",
                  "type":"string",
                  "example":"EM"
                },
                "description":{
                  "description":"seminary_type Short Description",
                  "type":"string",
                  "example":"EM"
                },
                "long_description":{
                  "description":"seminary_type Long Description",
                  "type":"string",
                  "example":"EM"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "example":"Y"
                }
              },
              "example":{
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y"
              }
            }
          },
          {
            "name":"seminary_type",
            "in":"path",
            "description":"seminary_type path parameter",
            "required":true,
            "type":"string"
          }
        ],
        "tags":[
          "admissions",
          "Codes"
        ],
        "responses":{
          "200":{
            "description":"seminary_type successfully Modified",
            "schema":{
              "description":"A seminary_type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this seminary_type",
                  "type":"object",
                  "properties":{
                    "seminary_types__info":{
                      "description":"Hypermedia link to retrieve this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      }
                    },
                    "seminary_types__modify":{
                      "description":"Hypermedia link to modify this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__modify"
                          ],
                          "default":"seminary_types__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      }
                    },
                    "seminary_types__remove":{
                      "description":"Hypermedia link to remove this seminary_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "seminary_types__remove"
                          ],
                          "default":"seminary_types__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domains/admissions/seminary_types/v1/:seminary_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      }
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                },
                "seminary_type":{
                  "description":"seminary_type",
                  "type":"string",
                  "example":"EM"
                },
                "description":{
                  "description":"seminary_type Short Description",
                  "type":"string",
                  "example":"EM"
                },
                "long_description":{
                  "description":"seminary_type Long Description",
                  "type":"string",
                  "example":"EM"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the seminary_type's data?",
                  "type":"string",
                  "example":"111111111"
                },
                "date_time_updated":{
                  "description":"When was the seminary_type's data last updated?",
                  "type":"string",
                  "example":"2014-05-11T13:45:53.200Z"
                }
              },
              "example":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "seminary_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"GET"
                  },
                  "seminary_types__modify":{
                    "rel":"seminary_types__modify",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"PUT"
                  },
                  "seminary_types__remove":{
                    "rel":"seminary_types__remove",
                    "href":"https://api.byu.edu/domains/admissions/seminary_types/v1/EM",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "cache":{
                    "date_time":"2014-05-11T13:45:53.200Z"
                  },
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "seminary_type":"EM",
                "description":"EM",
                "long_description":"EM",
                "active_status":"Y",
                "updated_by_id":"111111111",
                "date_time_updated":"2014-05-11T13:45:53.200Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404":{
            "description":"There is no matching seminary_type",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete":{
        "summary":"admissions Codes",
        "description":"Removes a seminary_type",
        "operationId":"removeSeminaryType",
        "parameters":[
          {
            "name":"seminary_type",
            "in":"path",
            "description":"seminary_type path parameter",
            "required":true,
            "type":"string"
          }
        ],
        "tags":[
          "admissions",
          "Codes"
        ],
        "responses":{
          "204":{
            "description":"seminary_type successfully Removed"
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "description":"Error body",
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer"
                        },
                        "message":{
                          "type":"string"
                        }
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
[...]
